{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
 
    .section-title {
        background-color: #f3bdbd;
        padding: 10px;
    }
    
    .title {
        color: #333;
    }
    
    p {
        font-size: 16px;
    }
/* Set a maximum width for the carousel container */
/* Style the about section */
.about {
    margin: 5%; 
    background-color: #f5a9a9; /* Margin around the section */
  }
  
  .about-text {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .about-text h2 {
    font-size: 2.3rem; /* Matches the media query style */
    margin: 5%; /* Matches the media query style */
  }
  
  .about-wrapper {
    display: flex;
    flex-flow: row wrap; /* Allows the items to wrap if the width is insufficient */
    justify-content: space-around; /* Distributes items evenly along the main axis */
    align-items: center; /* Centers items vertically */
  }
  
  .about-wrapper > img {
    width: 40%; /* Adjusted based on media query style */
    max-width: 100%; /* Ensures the image doesn't exceed its container */
  }
  
  .p-text {
    width: 45%; /* Adjusted based on media query style */
    margin: 2%; /* Some spacing around the text */
  }
  
  .p-text p {
    margin-bottom: 1rem; /* Spacing between paragraphs */
  }
  
  /* If you decide to display the accreditation logos */
  .acc-logo {
    display: flex;
    justify-content: space-between; /* Evenly distribute logos */
    width: 100%; /* Full width of the container */
    margin-top: 2%; /* Spacing from the content above */
  }
  
  .acc-logo img {
    max-width: 150px; /* Adjusted based on media query style */
    margin: 1%; /* Space around each logo */
  }
  
  .button {
  border: none;
  color: rgb(34, 23, 23);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}


.button2 {background-color: #43a7a7;} /* Blue */

</style>

<!-- OffCanvas Menu End -->
<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
 Hero/Intro Slider Start -->

            <!-- Single slider item -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'assets/images/hero/inner-img/b5.webp' %}" class="d-block w-100" alt="..." style="height: 500px; width: 1000px;"> 
                  </div>
                  
                 
                  <div class="carousel-item">
                    <img src="{% static 'assets/images/hero/inner-img/bg2.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
       
        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
        <!-- Add Arrows -->
        <!-- <div class="swiper-buttons"> -->
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div> -->
</div>
<!-- Hero/Intro Slider End -->
<!-- Banner Area Start -->

 <!-- Banner Area End --> 
<!-- Product Area Start -->
<div class="product-area pb-100px">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">New Products</h2>
                    <p>Fresh Fruits </p>
                </div>
            </div>
        </div>
        <!-- Section Title & Tab End -->
        <div class="row">
            <div class="col">
                <div class="row mb-n-30px">
                    <!-- views function from index  -->
                    {% for prod in product %}   
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                        <!-- Single Prodect -->
                        <div class="product">
                            <span class="badges">
                                <span class="new">{{prod.condition}}</span>
                            </span>
                            <div class="thumb">
                                <a href="/product/{{prod.id}}" class="image">
                                    <img src="{{ prod.image.url }}" alt="Product" style="height: 350px; width: 260px;"/>

                                    <img class="hover-image" src="{{ prod.image.url }}" alt="Product" />
                                </a>
                            </div>
                            <div class="content">
                                <span class="category"><a href="/product/{{prod.id}}">{{prod.categories}}</a></span>
                                <h5 class="title"><a href="/product/{{prod.id}}">{{prod.name | truncatechars:10}}
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">{{prod.price}}</span>
                                    
                                </span>
                               
                            </div>
                            <!-- <button class="button button2">add to cart</button> -->
                            <button class="button button2" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{forloop.counter}}"><i
                                class="pe-7s-shopbag"> add to cart</i></button>
                                <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                                    class="pe-7s-like"></i></button>  
                                    <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}"><i class="pe-7s-look"></i></button>
                                    <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                                        class="pe-7s-refresh-2"></i></button>
                            <div class="actions">
                                <!-- <button  class="button button2" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{forloop.counter}}">Add to cart</button>
                                        <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{forloop.counter}}"><i
                                            class="pe-7s-shopbag"></i></button> -->
                                        <!-- <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                                                class="pe-7s-like"></i></button>
                                        <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}"><i class="pe-7s-look"></i></button>
                                        <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                                                class="pe-7s-refresh-2"></i></button> -->
                                    </div>
                        </div>
                    </div>
                    {% endfor %}
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->
<!-- Banner Area Start -->
<section class="about" id="about">
	<div class="about-text">
	  <h2><b>Fruits</b> </h2>
	  <div class="about-wrapper">
		<img src="{% static 'app/images/banner/blog_4.webp' %}" alt="">
		<div class="p-text">
		  <p>fruit, the fleshy or dry ripened ovary of a flowering plant, enclosing the seed or seeds</p><br>
		  <p> Apple,Orange,Pomegranate ,and grapes (in their shells) acorns and almonds, are all technically fruits</p><br>
		  <p>which helps maintain a healthy gut and prevent constipation and other digestion problems. can help reduce the risk of serious health problems, such as heart disease, stroke, type 2 diabetes, obesity and some cancers.</p>
		</div>
		
	  </div>
	</div>
  </section>
<!-- Banner Area End -->
<!-- Feature product area start -->

                
            <!-- Add Arrows -->

<!-- Feature product area End -->
<!-- Fashion Area Start -->

<!-- Fashion Area End -->
<!-- Feature Area Srart -->

            <!-- single item -->
            
             <!-- single item --> 
            </div>
        </div>
    </div> 
</div>
<!-- Feature Area End -->
<!-- Blog area start from here -->

        <!-- section title start -->
        
            <!-- End single blog -->
        </div>
    </div>
</div>



{% endblock %}